body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:405px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u425 {
  position:absolute;
  left:243px;
  top:12px;
  width:20px;
  height:18px;
}
#u426 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u427 {
  position:absolute;
  left:329px;
  top:12px;
  width:16px;
  height:20px;
}
#u428 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u429 {
  position:absolute;
  left:266px;
  top:12px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u431 {
  position:absolute;
  left:348px;
  top:13px;
  width:57px;
  height:16px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u433 {
  position:absolute;
  left:12px;
  top:12px;
  width:16px;
  height:16px;
}
#u434 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u435 {
  position:absolute;
  left:31px;
  top:11px;
  width:81px;
  height:17px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
